$font-primary: "Roboto", Arial, sans-serif;
$font-secondary: "Roboto", Arial, sans-serif;

// Overrides
$grid-gutter-width: 40px !default;
$border-radius-base: 4px !default;
$padding-base-vertical: 14px !default;

$brand-primary: #00bcd4 !default;
$brand-secondary: #00a78e !default;

$brand-white: #fff;
$brand-black: #000;
$brand-darker: #444;
$brand-gray: #ccc;
$brand-lighter: #e9e9e9;
$brand-body-color: #818892;
$brand-selection-color: #f9f6f0;
$brand-overlay-color: #3b3d40;
$brand-bg-color: $brand-white;

$input-border-focus: $brand-primary !default;
$form-group-margin-bottom: 30px !default;

// Mixin
@mixin translateX($translatex) {
	-moz-transform: translateX($translatex);
	-webkit-transform: translateX($translatex);
	-ms-transform: translateX($translatex);
	-o-transform: translateX($translatex);
	transform: translateX($translatex);
}
@mixin transition($transition) {
	-moz-transition: all $transition ease;
	-o-transition: all $transition ease;
	-webkit-transition: all $transition ease;
	-ms-transition: all $transition ease;
	transition: all $transition ease;
}
@mixin inline-block() {
	display: -moz-inline-stack;
	display: inline-block;
	zoom: 1;
	*display: inline;
}

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	border-radius: $radius;
}
@mixin flex() {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}
@mixin flexwrap() {
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
}

@font-face {
	font-family: "icomoon";
	src: url("../fonts/icomoon/icomoon.eot?srf3rx");
	src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"),
		url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"),
		url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"),
		url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
	font-weight: normal;
	font-style: normal;
}

@mixin icomoon() {
	font-family: "icomoon";
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

// Import
@import "bootstrap/mixins";
@import "bootstrap/variables";

/* =======================================================
*
* 	Template Style
*	Edit this section
*
* ======================================================= */

// Template Base
body {
	font-family: $font-primary;
	font-weight: 300;
	font-size: 20px;
	line-height: 1.6;
	color: rgba(0, 0, 0, 0.5);
	// padding-top: 100px;
	@media screen and (max-width: fh5co-icon) {
		font-size: 16px;
	}
	// color: rgba(255,255,255,.7);
	// background: $brand-bg-color;

	// background-size: cover;
	// background-attachment: fixed;
	// background-repeat: no-repeat;
	// @media screen and (max-width: $screen-sm) {
	// 	background-position: center center;
	// 	background-repeat: no-repeat;
	// }
}
a {
	color: $brand-primary;
	@include transition(0.5s);
	&:hover,
	&:active,
	&:focus {
		color: $brand-primary;
		outline: none;
	}
}
p {
	margin: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: $brand-black;
	font-family: $font-secondary;
	font-weight: 100;
	margin: 0 0 30px 0;
}
figure {
	margin-bottom: 2.5em;
	float: left;
	width: 100%;
	figcaption {
		font-size: 16px;
		width: 80%;
		margin: 20px auto 0px auto;
		color: lighten($brand-black, 70%);
		font-style: italic;
		font-family: $font-secondary;
		@media screen and (max-width: $screen-xs) {
			width: 100%;
		}
	}
}
::-webkit-selection {
	color: $brand-white;
	background: $brand-primary;
}

::-moz-selection {
	color: $brand-white;
	background: $brand-primary;
}

::selection {
	color: $brand-white;
	background: $brand-primary;
}
// #section-ux{ margin-top: 100px; }
.marker {
	position: absolute;
	top: -100px;
	height: 100px;
	width: 1px;
	// background-color: red;
}
.projectDescription {
	@media screen and (max-width: $screen-sm) {
		font-size: 14px;
	}
	font-size: 16px;
	font-weight: 300;
	position: relative;
	float: left;
	b {
		font-weight: 400;
		color: black;
	}
}
.projectType {
	position: relative;
	margin-bottom: 10px;
}
.projectTitle {
	// position: relative;
	// float:left;
	// font-size: 16px;
	font-weight: 100;
	color: black;
}
.projectYear {
	font-weight: 400;
	color: rgba(0, 0, 0, 0.3);
	// color: white;
}
.ux-project,
.id-project,
.int-project,
.startup-badge,
.projectYear {
	position: relative;
	float: left;
	padding: 0px 7px;
	font-size: 12px;
	border-radius: 3px;
	// color: white;
	margin-right: 5px;
	margin-bottom: 10px;
	border-style: solid;
	border-width: 1px;
}
.int-project {
	border-color: #e91e63;
	color: #e91e63;
}
.id-project {
	border-color: #ff9800;
	color: #ff9800;
}
.ux-project {
	border-color: #03a9f4;
	color: #03a9f4;
}
.startup-badge {
	border-color: #3f51b5;
	color: #ffffff;
	background-color: #3f51b5;
}
.projectYear {
	border-color: rgba(0, 0, 0, 0.3);
	color: rgba(0, 0, 0, 0.3);
}
#fh5co-page {
	@media screen and (max-width: $screen-sm) {
		top: 80px;
	}
	position: relative;
	float: left;
	width: 100%;
	overflow: hidden;
	// position: relative;
	top: 100px;
	// margin-top:100px;
	// &.-main{ top:0px; }
}
#fh5co-aside {
	@media screen and (max-width: $screen-sm) {
		height: 100%;
		padding: 20px 10px;
		// border-right: 1px solid rgba(0, 0, 0, 0.05);
	}
	position: fixed;
	// float:left;
	padding: 40px;
	// padding-top: 40px;
	// padding-bottom: 40px;
	width: 100%;
	height: 100px;
	// position: relative;
	// bottom: 0;
	top: 0;
	left: 0;
	// overflow-y: scroll;
	// background: lighten($brand-black, 90%);
	background-color: white;
	// background-color: rgba(255,255,255,0.1);
	z-index: 1001;
	// -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.35);
	// -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.35);
	// -ms-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.35);
	// -o-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.35);
	// box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.35);
	// background: #41444b;
	&.border {
		// border-bottom: 1px solid lighten($brand-black, 100%);
		// border-right: 1px solid #41444b;
	}
	@include transition(0.5s);
	// @media screen and (max-width: $screen-lg) {
	// 	width: 30%;
	// }
	@media screen and (max-width: $screen-sm) {
		width: 270px;
		@include translateX(-270px);
		// @include translateX(-200%);
	}
	#fh5co-logo {
		position: relative;
		float: left;
		text-align: center;
	}
	#fh5co-main-menu {
		position: relative;
		float: left;
		ul {
			text-align: center;
			margin: 0;
			padding: 0;
			@media screen and (max-width: $screen-sm) {
				// margin: 0 0 2em 0;
			}
			li {
				@media screen and (max-width: $screen-sm) {
					width: 100%;
					text-align: right;
					height: 50px;
					line-height: 50px;
				}
				position: relative;
				float: left;
				// margin: 0 0 10px 0;
				padding: 0;
				list-style: none;
				.empty {
					@media screen and (max-width: $screen-sm) {
						position: relative;
						float: left;
						top: 0px;
						width: 100%;
						text-align: right;
						padding: 0px 10px;
					}
					top: -9px;
					color: rgba(0, 0, 0, 0.5);
					text-decoration: none;
					letter-spacing: 0.1em;
					text-transform: uppercase;
					font-size: 15px;
					font-weight: 300;
					position: relative;
					@include transition(0.3s);
					padding: 10px;
					letter-spacing: 0.2em;
					font-family: $font-secondary;
				}
				a {
					@media screen and (max-width: $screen-sm) {
						position: relative;
						float: left;
						top: 0px;
						width: 100%;
						text-align: right;
						padding: 0px 10px;
					}
					top: -5px;
					color: rgba(0, 0, 0, 0.5);
					text-decoration: none;
					letter-spacing: 0.1em;
					text-transform: uppercase;
					font-size: 15px;
					font-weight: 300;
					position: relative;
					@include transition(0.3s);
					padding: 10px;
					letter-spacing: 0.2em;
					font-family: $font-secondary;
					&.-selected:after {
						// @media screen and (max-width: $screen-sm) { display: none; }
						visibility: visible;
						-webkit-transform: scaleX(1);
						-moz-transform: scaleX(1);
						-ms-transform: scaleX(1);
						-o-transform: scaleX(1);
						transform: scaleX(1);
					}
					&:after {
						content: "";
						position: absolute;
						height: 2px;
						bottom: 7px;
						left: 10px;
						right: 10px;
						background-color: $brand-primary;
						visibility: hidden;
						-webkit-transform: scaleX(0);
						-moz-transform: scaleX(0);
						-ms-transform: scaleX(0);
						-o-transform: scaleX(0);
						transform: scaleX(0);
						-webkit-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
						-moz-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
						-ms-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
						-o-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
						transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
					}
					&:hover {
						text-decoration: none;
						color: rgba(0, 0, 0, 1);

						&:after {
							visibility: visible;
							-webkit-transform: scaleX(1);
							-moz-transform: scaleX(1);
							-ms-transform: scaleX(1);
							-o-transform: scaleX(1);
							transform: scaleX(1);
						}
					}
				}
				&.fh5co-active {
					a {
						color: rgba(0, 0, 0, 1);
						&:after {
							visibility: visible;
							-webkit-transform: scaleX(1);
							-moz-transform: scaleX(1);
							-ms-transform: scaleX(1);
							-o-transform: scaleX(1);
							transform: scaleX(1);
						}
					}
				}
			}
		}
	}
	.fh5co-footer {
		position: relative;
		float: left;
		// bottom: 40px;
		font-size: 14px;
		text-align: center;
		width: 100%;
		font-weight: 400;
		color: rgba(0, 0, 0, 0.6);
		@media screen and (max-width: $screen-sm) {
			position: relative;
			bottom: 0;
		}
		span {
			display: block;
		}
		ul {
			padding: 0;
			margin: 0;
			text-align: center;
			li {
				padding: 0;
				margin: 0;
				display: inline;
				list-style: none;
				a {
					color: rgba(0, 0, 0, 0.7);
					padding: 4px;
					&:hover,
					&:active,
					&:focus {
						text-decoration: none;
						outline: none;
						color: $brand-primary;
					}
				}
			}
		}
	}
}
#fh5co-main {
	width: 100%;
	float: left;
	// top:100px;
	@include transition(0.5s);
	@media screen and (max-width: $screen-lg) {
		width: 100%;
	}
	@media screen and (max-width: $screen-sm) {
		width: 100%;
	}
	.fh5co-narrow-content {
		position: relative;
		width: 100%;
		float: left;
		margin: 0 auto;
		padding: 50px;
		@media screen and (max-width: $screen-sm) {
			width: 100%;
			padding: 10px 20px;
		}
		// p{
		// 	position: relative;
		// 	float: left;
		// 	width: 50%;
		// }
	}
	.-id {
		// margin-top:100px;
	}
	.-about {
		@media screen and (max-width: $screen-sm) {
			height: auto;
		}
		float: left;
		height: 100vh;
	}
	.-ux {
		// margin-top:100px;
		.gallery-item {
			width: 100%;
			// max-height: 675px;
			@media screen and (max-width: $screen-lg) {
				width: 100%;
			}
			@media screen and (max-width: $screen-sm) {
				width: 100%;
			}
			@media screen and (max-width: $screen-xs) {
				width: 100%;
			}
			&.-half {
				@media screen and (max-width: $screen-sm) {
					width: 100%;
				}
				width: 50%;
				// img{ max-width: initial !important; }
			}
		}
		.bg {
			position: absolute;
			top: 0px;
			left: 0px;
			right: 0px;
			bottom: 0px;
			z-index: -5;
		}
	}
	.-cv {
		@media screen and (max-width: $screen-sm) {
			padding: 0px 10px 50px 70px;
			font-size: 14px;
		}
		position: relative;
		float: left;
		padding: 50px;
		font-size: 16px;
		color: #555;
		h2 {
			font-size: 26px;
			margin: 0px;
			padding-top: 30px;
		}
		h3 {
			font-size: 20px;
			margin: 0px;
			padding-top: 30px;
		}
		.frame {
			@media screen and (max-width: $screen-sm) {
				width: 100%;
			}
			position: relative;
			float: left;
			width: 75%;
		}
		.btn-cv {
			position: relative;
			float: left;
			margin-top: 50px;
			position: relative;
			float: left;
		}
	}
	.-aboutText {
		@media screen and (max-width: $screen-sm) {
			padding-left: 0px;
			font-size: 14px;
		}
		margin-top: 20px;
		padding-left: 64px;
		font-size: 16px;
		color: rgba(0, 0, 0, 0.5);
	}
}

.fh5co-gallery {
	position: relative;
	// margin-top:200px;
	margin-bottom: 100px;
	float: left;
	width: 100%;
	.gallery-item {
		width: 25%;
		position: relative;
		overflow: hidden;
		display: block;
		float: left;
		z-index: 110;
		// border-right:1px solid rgba(0,0,0,0.2);
		// border-bottom:1px solid rgba(0,0,0,0.2);
		text-align: center;
		img {
			position: relative;
			max-width: 100%;
			-webkit-transform: scale(1);
			-moz-transform: scale(1);
			-ms-transform: scale(1);
			-o-transform: scale(1);
			transform: scale(1);
			@include transition(0.9s);
		}
		@media screen and (max-width: $screen-lg) {
			width: 33.3333%;
		}
		@media screen and (max-width: $screen-sm) {
			width: 50%;
		}
		@media screen and (max-width: $screen-xs) {
			width: 100%;
		}
		.overlay {
			position: absolute;
			right: 0;
			left: 0;
			bottom: 0;
			top: 0;
			z-index: 11;
			vertical-align: middle;
			// padding-top: 45%;
			// visibility: hidden;
			opacity: 1;
			@include transition(0.5s);
			h2,
			span {
				position: relative;
				z-index: 12;
				margin-bottom: 0;
				// text-align: center;
				display: block;
				@include transition(0.3s);
			}
			h2 {
				color: black;
				font-size: 26px;
				font-weight: 100;
				float: left;
				padding: 50px;
				// margin-bottom: 10px;
				// bottom: -15px;
				// text-shadow: 0px 0px 20px black;

				@media screen and (max-width: $screen-sm) {
					font-size: 24px;
					padding: 20px;
				}
				@media screen and (max-width: $screen-xs) {
					font-size: 20px;
					padding: 10px 20px;
				}
			}
			span {
				// color: $brand-primary;
				color: rgba(255, 255, 255, 1);
				font-size: 11px;
				letter-spacing: 2px;
				text-transform: uppercase;
				font-weight: 400;
				bottom: -5px;
				visibility: hidden;
				opacity: 0;
			}
			// &:before {
			// 	content: '';
			// 	position: absolute;
			// 	z-index: 1;
			// 	top: 0;
			// 	left: 0;
			// 	bottom: 0;
			// 	right: 0;
			// 	background: rgba(0, 0, 0, .5);
			// }
		}
		&:hover {
			img {
				-webkit-transform: scale(1);
				-moz-transform: scale(1);
				-ms-transform: scale(1);
				-o-transform: scale(1);
				transform: scale(1);
			}
			// .overlay {
			// 	visibility: visible;
			// 	opacity: 1;
			// 	&:before {
			// 		content: '';
			// 		position: absolute;
			// 		z-index: 1;
			// 		top: 0;
			// 		left: 0;
			// 		bottom: 0;
			// 		right: 0;
			// 		// background: rgba(0, 0, 0, .5);
			// 		background-color: rgba(black, 0.2);
			// 	}

			// 	h2 {
			// 		bottom: 0px;
			// 	}
			// 	span {
			// 		visibility: visible;
			// 		opacity: 1;
			// 		bottom: 0px;
			// 	}
			// }
		}
	}
}

.footerMobile {
	@media screen and (max-width: $screen-sm) {
		display: block;
	}
	display: none;
	position: fixed;
	bottom: 20px;
	right: 20px;
	width: 100%;
	padding: 0px;
	margin: 0px;
	list-style: none;
	font-size: 14px;
	text-align: right;
	li {
		position: relative;
		float: right;
		width: 100%;
		line-height: 30px;
	}
	.icon {
		font-size: 16px;
		width: 20.333%;
	}
}
body {
	&.offcanvas {
		overflow-x: hidden;
		#fh5co-aside {
			@include translateX(0);
			width: 200px;
			background: $brand-white;
			z-index: 999;
			position: fixed;
		}
		#fh5co-main,
		.fh5co-nav-toggle {
			top: 0;
			@include translateX(200px);
		}
	}
}

.fh5co-services {
	margin-top: 5px;
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}
}
.work-pagination {
	padding: 3em 0;
	a {
		color: $brand-black;
		&:hover {
			color: $brand-primary;
			text-decoration: none;
		}
	}
	@media screen and (max-width: $screen-xs) {
		span {
			display: none;
		}
	}
}

.fh5co-border-bottom {
	// border-bottom: 1px solid lighten($brand-black, 94%);
}

.fh5co-testimonial {
	padding: 3em 0;
	background: $brand-primary;
	position: relative;
	@media screen and (max-width: $screen-sm) {
		padding: 3em 0;
	}
	.item {
		color: rgba(255, 255, 255, 1);
		padding-left: 3em;
		padding-right: 3em;
		@media screen and (max-width: $screen-sm) {
			padding-left: 0em;
			padding-right: 0em;
		}
		figure {
			text-align: center;
			img {
				max-width: inherit;
				width: 90px;
				margin: 0 auto;
				@include border-radius(50%);
			}
		}
		p {
			font-size: 30px;
			@media screen and (max-width: $screen-sm) {
				font-size: 28px;
			}
			@media screen and (max-width: $screen-xs) {
				font-size: 20px;
			}
		}
		.author {
			font-size: 16px;
			display: block;
		}
	}
}

.fh5co-counters {
	padding: 1em 0;
	background: lighten($brand-black, 90%);
	background-size: cover;
	background-attachment: fixed;
	.fh5co-counter {
		font-size: 50px;
		display: block;
		color: $brand-white;
		font-family: $font-primary;
		width: 100%;
		font-weight: 700;
		margin-bottom: 0.5em;
	}
	.fh5co-counter-label {
		color: $brand-white;
		text-transform: uppercase;
		font-size: 13px;
		font-family: $font-secondary;
		letter-spacing: 5px;
		margin-bottom: 2em;
		display: block;
	}
}
.fh5co-lead {
	font-size: 24px;
	line-height: 1.5;
}
.fh5co-heading-colored {
	color: $brand-primary;
}

.fh5co-cards {
	padding: 1em 0;
	background: lighten($brand-black, 90%);
	@media screen and (max-width: $screen-sm) {
		padding: 1em 0;
	}

	.fh5co-flex-wrap {
		@include flex();
		@include flexwrap();
		> div {
			width: 49.5%;
			margin-right: 1%;
			background: $brand-white;
			padding: 30px;
			margin-bottom: 10px;
			&:nth-of-type(1) {
				float: left;
			}
			&:nth-of-type(2) {
				float: right;
				margin-right: 0%;
			}
			@media screen and (max-width: fh5co-icon) {
				width: 100%;
				margin-right: 0;
			}
		}
		.fh5co-card {
			p:last-child {
				margin-bottom: 0;
			}
			h5 {
				text-transform: uppercase;
				font-size: 12px;
				letter-spacing: 0.2em;
				padding: 4px 8px;
				background: lighten($brand-black, 92%);
				@include inline-block;
			}
		}
	}
}

.fh5co-counter {
	.fh5co-number {
		font-size: 100px;
		color: $brand-primary;
		font-weight: 400;
		margin: 0;
		padding: 0;
		line-height: 0.7;
		&.fh5co-left {
			float: left;
			width: 30%;
			@media screen and (max-width: $screen-sm) {
				width: 100%;
				line-height: 1.2;
			}
		}
	}
	.fh5co-text {
		float: right;
		text-align: left;
		width: 70%;
		@media screen and (max-width: $screen-sm) {
			width: 100%;
			text-align: center;
		}
		h3 {
			margin: 0;
			padding: 0;
			position: relative;
			&.border-bottom {
				&:after {
					content: "";
					width: 50px;
				}
			}
		}
	}
}

.fh5co-social {
	padding: 0;
	margin: 0;
	text-align: center;
	li {
		padding: 0;
		margin: 0;
		list-style: none;
		@include inline-block;
		a {
			font-size: 22px;
			color: $brand-black;
			padding: 10px;
			@include inline-block;
			@include border-radius(7px);
			@media screen and (max-width: $screen-sm) {
				padding: 10px 8px;
			}
			&:hover {
				color: $brand-primary;
			}
			&:hover,
			&:active,
			&:focus {
				outline: none;
				text-decoration: none;
				color: $brand-primary;
			}
		}
	}
}

#map {
	width: 100%;
	height: 700px;
	@media screen and (max-width: $screen-sm) {
		height: 200px;
	}
}

.fh5co-more-contact {
	background: lighten($brand-black, 98%);
}

.fh5co-feature {
	text-align: left;
	width: 100%;
	float: left;
	padding: 20px;
	.fh5co-icon {
		// @media screen and (max-width: $screen-xs) {
		// 	width: 100%;;
		// }
		float: left;
		width: 100%;
		display: block;
		margin-top: 1-px;
		margin-bottom: 10px;
		i {
			color: $brand-primary;
			font-size: 70px;
			@media screen and (max-width: $screen-lg) {
				font-size: 40px;
			}
		}
	}
	&.fh5co-feature-sm {
		.fh5co-icon {
			i {
				color: $brand-primary;
				font-size: 28px;
				@media screen and (max-width: $screen-lg) {
					font-size: 28px;
				}
			}
		}
	}
	.fh5co-text {
		float: left;
		width: 100%;
		font-size: 14px;
		@media screen and (max-width: $screen-sm) {
			width: 82%;
		}
		@media screen and (max-width: $screen-xs) {
			width: 100%;
		}
		h2,
		h3 {
			margin: 0;
			padding: 0;
		}
		h3 {
			font-weight: 300;
			margin-bottom: 20px;
			color: rgba(0, 0, 0, 0.8);
			font-size: 14px;
			letter-spacing: 0.2em;
			text-transform: uppercase;
		}
	}
}

.fh5co-heading {
	font-size: 45px;
	margin-bottom: 1em;
	&.fh5co-light {
		color: $brand-white;
	}
	span {
		display: block;
	}
	@media screen and (max-width: $screen-sm) {
		font-size: 30px;
		margin-bottom: 1em;
	}
}

.fh5co-staff {
	img {
		margin-bottom: 1.5em;
		@include border-radius(7px);
	}
	h3 {
		margin: 0 0 10px 0;
	}
	h4 {
		margin: 0 0 20px 0;
		font-weight: 300;
		color: rgba(0, 0, 0, 0.4);
	}
}
#fh5co-footer {
	@media screen and (max-width: $screen-sm) {
		display: none;
	}
	font-size: 14px;
	ul,
	li {
		padding: 0;
		margin: 0;
		list-style: none;
	}
	p,
	ul,
	li {
		position: relative;
		float: left;
	}
	p,
	li {
		padding: 10px;
	}
}

// Chart
.chart {
	width: 160px;
	height: 160px;
	margin: 0 auto 30px auto;
	position: relative;
	text-align: center;
	span {
		strong {
			display: block;
		}
		position: absolute;
		top: 50%;
		left: 0;
		margin-top: -30px;
		width: 100%;
	}
	canvas {
		position: absolute;
		left: 0;
		top: 0;
	}
}

/* Owl Override Style */
.owl-carousel .owl-controls,
.owl-carousel-posts .owl-controls {
	margin-top: 0;
}
.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel-posts .owl-controls .owl-nav .owl-next,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev {
	top: 50%;
	margin-top: -29px;
	z-index: 9999;
	position: absolute;
	@include transition(0.2s);
}
.owl-carousel-posts .owl-controls .owl-nav .owl-next,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev {
	top: 24%;
}
.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel-posts .owl-controls .owl-nav .owl-next {
	right: -40px;
	&:hover {
		margin-right: -10px;
	}
}
.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev {
	left: -40px;
	&:hover {
		margin-left: -10px;
	}
}
.owl-carousel-posts .owl-controls .owl-nav .owl-next {
	right: -50px;
	@media screen and (max-width: $screen-sm) {
		right: 0px;
	}
}
.owl-carousel-posts .owl-controls .owl-nav .owl-prev {
	left: -50px;
	@media screen and (max-width: $screen-sm) {
		left: 0px;
	}
}
.owl-carousel-posts .owl-controls .owl-nav .owl-next,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev,
.owl-carousel-fullwidth .owl-controls .owl-nav .owl-next,
.owl-carousel-fullwidth .owl-controls .owl-nav .owl-prev {
	i {
		color: $brand-darker;
	}
	&:hover {
		i {
			color: $brand-black;
		}
	}
}

.owl-carousel-fullwidth.fh5co-light-arrow .owl-controls .owl-nav .owl-next,
.owl-carousel-fullwidth.fh5co-light-arrow .owl-controls .owl-nav .owl-prev {
	i {
		color: $brand-white;
	}
	&:hover {
		i {
			color: $brand-white;
		}
	}
}

.owl-theme .owl-controls .owl-nav {
	@media screen and (max-width: $screen-sm) {
		display: none;
	}
}

.owl-theme .owl-controls .owl-nav [class*="owl-"] {
	background: none !important;
	i {
		font-size: 30px;
		&:hover,
		&:focus {
			background: none !important;
		}
	}
	&:hover,
	&:focus {
		background: none !important;
	}
}
.owl-theme .owl-dots {
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
}
.owl-carousel-fullwidth.owl-theme .owl-dots {
	bottom: 0;
	margin-bottom: -2.5em;
}
.owl-theme .owl-dots .owl-dot span {
	width: 10px;
	height: 10px;
	background: $brand-white;
	@include transition(0.2s);
	border: 3px solid transparent;
	&:hover {
		background: none;
		border: 3px solid $brand-primary;
	}
}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
	background: transparent;
	height: 10px;
	border: 2px solid $brand-white;
}

// Buttons
.btn {
	margin-right: 4px;
	margin-bottom: 4px;
	font-family: $font-primary;
	font-size: 18px;
	font-weight: 400;
	@include border-radius(5px);
	@include transition(0.5s);
	padding: 8px 20px !important;
	&.btn-sm {
		padding: 4px 15px !important;
	}
	&.btn-md {
		padding: 8px 20px !important;
	}
	&.btn-lg {
		padding: 18px 36px !important;
	}
	&:hover,
	&:active,
	&:focus {
		box-shadow: none !important;
		outline: none !important;
	}
}
.btn-primary {
	background: $brand-primary;
	color: $brand-white;
	border: 2px solid $brand-primary;
	&:hover,
	&:focus,
	&:active {
		background: lighten($brand-primary, 5%) !important;
		border-color: lighten($brand-primary, 5%) !important;
	}
	&.btn-outline {
		background: transparent;
		color: $brand-primary;
		border: 2px solid $brand-primary;
		&:hover,
		&:focus,
		&:active {
			background: $brand-primary;
			color: $brand-white;
		}
	}
}
.btn-success {
	background: $brand-success;
	color: $brand-white;
	border: 2px solid $brand-success;
	&:hover,
	&:focus,
	&:active {
		background: darken($brand-success, 5%) !important;
		border-color: darken($brand-success, 5%) !important;
	}
	&.btn-outline {
		background: transparent;
		color: $brand-success;
		border: 2px solid $brand-success;
		&:hover,
		&:focus,
		&:active {
			background: $brand-success;
			color: $brand-white;
		}
	}
}
.btn-info {
	background: $brand-info;
	color: $brand-white;
	border: 2px solid $brand-info;
	&:hover,
	&:focus,
	&:active {
		background: darken($brand-info, 5%) !important;
		border-color: darken($brand-info, 5%) !important;
	}
	&.btn-outline {
		background: transparent;
		color: $brand-info;
		border: 2px solid $brand-info;
		&:hover,
		&:focus,
		&:active {
			background: $brand-info;
			color: $brand-white;
		}
	}
}
.btn-warning {
	background: $brand-warning;
	color: $brand-white;
	border: 2px solid $brand-warning;
	&:hover,
	&:focus,
	&:active {
		background: darken($brand-warning, 5%) !important;
		border-color: darken($brand-warning, 5%) !important;
	}
	&.btn-outline {
		background: transparent;
		color: $brand-warning;
		border: 2px solid $brand-warning;
		&:hover,
		&:focus,
		&:active {
			background: $brand-warning;
			color: $brand-white;
		}
	}
}
.btn-danger {
	background: $brand-danger;
	color: $brand-white;
	border: 2px solid $brand-danger;
	&:hover,
	&:focus,
	&:active {
		background: darken($brand-danger, 5%) !important;
		border-color: darken($brand-danger, 5%) !important;
	}
	&.btn-outline {
		background: transparent;
		color: $brand-danger;
		border: 2px solid $brand-danger;
		&:hover,
		&:focus,
		&:active {
			background: $brand-danger;
			color: $brand-white;
		}
	}
}

.btn-outline {
	background: none;
	border: 2px solid lighten($brand-black, 50%);
	font-size: 16px;
	@include transition(0.3s);
	&:hover,
	&:focus,
	&:active {
		box-shadow: none;
	}
}

.btn-cv {
	position: relative;
	float: left;
	margin-top: 25px;
	margin-bottom: 50px;
	padding: 5px 15px;
	border: 2px solid $brand-primary;
	border-radius: 5px;
}
// Form Input Field
.form-control {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	box-shadow: none;
	background: transparent;
	border: 2px solid rgba(0, 0, 0, 0.1);
	height: 54px;
	font-size: 18px;
	font-weight: 300;
	@include border-radius(7px);
	&:active,
	&:focus {
		outline: none;
		box-shadow: none;
		border-color: $brand-primary;
	}
}
#message {
	height: 130px;
}

// Burger Menu
.fh5co-nav-toggle {
	cursor: pointer;
	text-decoration: none;
	&.active i {
		&::before,
		&::after {
			background: $brand-black;
		}
	}
	&.dark {
		&.active i {
			&::before,
			&::after {
				background: $brand-black;
			}
		}
	}
	&:hover,
	&:focus,
	&:active {
		outline: none;
		border-bottom: none !important;
	}
	i {
		position: relative;
		@include inline-block;
		width: 30px;
		height: 2px;
		color: $brand-black;
		font: bold 14px/0.4 Helvetica;
		text-transform: uppercase;
		text-indent: -55px;
		background: $brand-black;
		transition: all 0.2s ease-out;
		&::before,
		&::after {
			content: "";
			width: 30px;
			height: 2px;
			background: $brand-black;
			position: absolute;
			left: 0;
			@include transition(0.2s);
		}
	}
	&.dark {
		i {
			position: relative;
			color: $brand-black;
			background: $brand-black;
			transition: all 0.2s ease-out;
			&::before,
			&::after {
				background: $brand-black;
				@include transition(0.2s);
			}
		}
	}
}

.fh5co-nav-toggle i::before {
	top: -7px;
}
.fh5co-nav-toggle i::after {
	bottom: -7px;
}
.fh5co-nav-toggle:hover i::before {
	top: -10px;
}
.fh5co-nav-toggle:hover i::after {
	bottom: -10px;
}
.fh5co-nav-toggle.active i {
	background: transparent;
}
.fh5co-nav-toggle.active i::before {
	top: 0;
	-webkit-transform: rotateZ(45deg);
	-moz-transform: rotateZ(45deg);
	-ms-transform: rotateZ(45deg);
	-o-transform: rotateZ(45deg);
	transform: rotateZ(45deg);
}
.fh5co-nav-toggle.active i::after {
	bottom: 0;
	-webkit-transform: rotateZ(-45deg);
	-moz-transform: rotateZ(-45deg);
	-ms-transform: rotateZ(-45deg);
	-o-transform: rotateZ(-45deg);
	transform: rotateZ(-45deg);
}
.fh5co-nav-toggle {
	position: fixed;
	left: 0;
	top: 0px;
	z-index: 9999;
	cursor: pointer;
	opacity: 1;
	visibility: hidden;
	padding: 20px;
	// background: rgba(255,255,255,.9);
	@include transition(0.5s);
	@media screen and (max-width: $screen-sm) {
		opacity: 1;
		visibility: visible;
	}
}

// Helper Class
.col-xxs-12 {
	@media screen and (max-width: 480px) {
		float: none;
		width: 100%;
	}
}
.row-bottom-padded-lg {
	padding-bottom: 7em;
	@media screen and (max-width: $screen-sm) {
		padding-bottom: 1em;
	}
}
.row-bottom-padded-md {
	padding-bottom: 4em;
	@media screen and (max-width: $screen-sm) {
		padding-bottom: 1em;
	}
}
.row-bottom-padded-sm {
	padding-bottom: 1em;
	@media screen and (max-width: $screen-sm) {
		padding-bottom: 1em;
	}
}

.animate-box {
	.js & {
		opacity: 0;
	}
}
