@font-face {
  font-family: "icomoon-sm";
  src: url("../fonts/icomoon-sm/icomoon-sm.eot?lwqenz");
  src: url("../fonts/icomoon-sm/icomoon-sm.eot?lwqenz#iefix") format("embedded-opentype"),
    url("../fonts/icomoon-sm/icomoon-sm.ttf?lwqenz") format("truetype"),
    url("../fonts/icomoon-sm/icomoon-sm.woff?lwqenz") format("woff"),
    url("../fonts/icomoon-sm/icomoon-sm.svg?lwqenz#icomoon-sm") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="iconsm-"],
[class*=" iconsm-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon-sm" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconsm-behance:before {
  content: "\e900";
}
.iconsm-brand:before {
  content: "\e900";
}
.iconsm-social:before {
  content: "\e900";
}
.iconsm-twitter:before {
  content: "\e901";
}
.iconsm-brand1:before {
  content: "\e901";
}
.iconsm-tweet:before {
  content: "\e901";
}
.iconsm-social1:before {
  content: "\e901";
}
.iconsm-linkedin:before {
  content: "\e902";
}
.iconsm-brand2:before {
  content: "\e902";
}
.iconsm-social2:before {
  content: "\e902";
}
.iconsm-instagram:before {
  content: "\e903";
}
.iconsm-brand3:before {
  content: "\e903";
}
.iconsm-social3:before {
  content: "\e903";
}
.iconsm-unsplash:before {
  content: "\e904";
}
