@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
.icon-unsplash:before {
  content: "\e901";
}

.icon-x:before {
  content: "\e902";
}

.icon-instagram:before {
  content: "\ea92";
}

.icon-youtube:before {
  content: "\ea9d";
}

.icon-behance:before {
  content: "\eaa8";
}

.icon-deviantart:before {
  content: "\eaaa";
}

* {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

h1, h2, h3, h4, p {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  color: black;
}

nav {
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  padding: 2.5rem;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 101;
}
nav .title {
  font-weight: 200;
}
nav a {
  position: relative;
  float: left;
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
  line-height: 1.5rem;
}
nav a:after {
  content: "";
  position: absolute;
  inset-inline: 0;
  bottom: -2.5rem;
  height: 0;
  background-color: transparent;
  transition: all 0.5s;
}
nav a[aria-current=page]:after {
  height: 0.25rem;
  background-color: #00e2ff;
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}

[hidden] {
  display: none !important;
}

@media (prefers-reduced-motion: reduce) {
  .filter-nav a {
    transition: none;
  }
}
.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.grid .card {
  position: relative;
  padding: 2.5rem;
  height: 50dvh;
  float: left;
  background-color: lightgray;
  border-bottom: 1px solid gray;
  border-right: 1px solid gray;
}
.grid .card.hero {
  height: 75dvh;
}
.grid .card .title {
  font-size: 1.75rem;
  font-weight: 200;
  padding-block-end: 1.5rem;
}
.grid .card a {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 2.5rem;
}

.cell--100 {
  min-width: 100%;
}

.cell--50 {
  min-width: 50%;
  flex-grow: 2;
}

.cell--25 {
  min-width: 25%;
  flex-grow: 2;
}

.identifier {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
.identifier p {
  border-width: 1px;
  border-style: solid;
  border-radius: 0.25rem;
  padding: 0.15rem 0.35rem;
  font-size: 0.85rem;
}
.identifier .product-uiux {
  border-color: #00e2ff;
  color: #00e2ff;
}
.identifier .product-branding {
  border-color: orange;
  color: orange;
}
.identifier .product-framework {
  border-color: #ff005c;
  color: #ff005c;
}
.identifier .product-other {
  border-color: #e91e63;
  color: #e91e63;
}
.identifier .year {
  border-color: #555;
  color: #555;
}
.identifier .startup {
  border-color: #3f51b5;
  background-color: #3f51b5;
  color: white;
}

footer {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 2.5rem;
  font-size: 1rem;
  gap: 1rem;
  color: gray;
}
footer a {
  color: inherit;
}

.product__aerolite {
  background: url(../aerolite/cover.jpg) center;
  background-size: cover;
}

.product__looq {
  background: url(../looq/cover.jpg) center;
  background-size: cover;
}

.product__qbee {
  background: url(../qbee/cover.jpg) center;
  background-size: cover;
}

.product__super-marketim {
  background: url(../super-marketim/cover.jpg) center;
  background-size: cover;
}

.product__smart-heating {
  background: url(../smart-heating/cover.jpg) center;
  background-size: cover;
}

.product__themarmara {
  background: url(../themarmara/cover.jpg) center;
  background-size: cover;
}

.product__karnaval {
  background: url(../karnaval/cover.jpg) center;
  background-size: cover;
}

.product__istanbul2010 {
  background: url(../istanbul2010/cover.jpg) center;
  background-size: cover;
}

.product__santralistanbul {
  background: url(../santralistanbul/cover.jpg) center;
  background-size: cover;
}

.product__e-kolay {
  background: url(../e-kolay/cover.jpg) center;
  background-size: cover;
}

.product__nightbits {
  background: url(../nightbits/cover.jpg) center;
  background-size: cover;
}/*# sourceMappingURL=style.css.map */